<div class="info">
  <div class="info-image">
    <img src="assets/omakuva2.jpg" alt="me">
  </div>
    <ul>
      <h3>Personal Information</h3>
      <p>First Name: Janne</p>
      <p>Last Name: Matela</p>
      <p>Age: 22</p>
      <p>Location: Jyväskylä, Finland</p>
    </ul>
    <ul>
      <h3>Education</h3>
      <p>JAMK University of Applied Sciences</p>
      <p>Jyväskylä, Finland</p>
      <p>2020 - 2023 (hopefully)</p>
      <p>Bachelor of Business Administration</p>
      <p></p>
    </ul>
    <ul>
      <h3>Hobbies and interests</h3>
      <p>Video Games</p>
      <p>Coding, Red Hat atm</p>
    </ul>
</div>